<section  class="bg-black py-12">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 mt-10">
            {{ collection:resources }}
                <a title="{{ title }}" href="{{ url }}" class="group bg-white-opacity rounded-4xl border border-white-opacity block hover:shadow-lg hover:border-orange transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-orange">
                    {{ featured_image }}
                        <img src="{{ url }}" alt="{{ title }}" class="rounded-t-4xl w-full object-cover">
                    {{ /featured_image }}
                    <div class="p-4 flex items-center justify-between">
                        <span class="text-white font-semibold my-4 text-2xl">{{ title }}</span>
                        <span class="flex items-center justify-center bg-orange rounded-full w-10 h-10 ml-4">
                            <i class="fa-solid fa-arrow-right text-white text-lg"></i>
                        </span>
                    </div>
                </a>
            {{ /collection:resources }}
        </div>
    </div>
</section>