<section  class="bg-black py-12">
    <div class="container mx-auto px-4 py-16">
        {{ if thank_you_heading }}
            <h1 class="text-white font-manrope font-semibold text-6xl">{{ thank_you_heading }}</h1>
        {{ /if }}

        {{ if thank_you_content }}
            <p class="text-gray text-lg my-8 w-full lg:w-1/3">{{ thank_you_content }}</p>
        {{ /if }}

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-12">
            <div class="p-8 bg-white-opacity rounded-4xl border border-white-opacity">
                {{ if company_details:phone_number }}
                        <div class="flex gap-4">
                            <div class="flex items-center justify-center bg-white/50 rounded-xl w-12 h-12 border border-white-opacity">
                                <i class="fa-solid fa-phone text-orange text-xl"></i>
                            </div>
                            <div class="flex flex-col gap-1">
                                {{ if thank_you_call_heading }}
                                    <span class="text-white font-manrope text-2xl font-semibold leading-tight">{{ thank_you_call_heading }}</span>
                                {{ /if }}
                                <a class="text-gray hover:text-white transition underline decoration-orange text-base font-medium" href="tel:{{ company_details:phone_number }}">{{ company_details:phone_number }}</a>

                                {{ if company_details:opening_hours }}
                                    <span class="text-gray">{{ company_details:opening_hours }}</span>
                                {{ /if }}
                            </div>
                        </div>
                {{ /if }}
            </div>

            <div class="p-8 bg-white-opacity rounded-4xl border border-white-opacity">
                {{ if company_details:email_address }}
                    <div class="flex gap-4">
                        <div class="flex items-center justify-center bg-white/50 rounded-xl w-12 h-12 border border-white-opacity">
                            <i class="fa-solid fa-envelope text-orange text-xl"></i>
                        </div>
                        <div class="flex flex-col gap-1">
                            {{ if thank_you_email_heading }}
                                <span class="text-white font-manrope text-2xl font-semibold leading-tight">{{ thank_you_email_heading }}</span>
                            {{ /if }}

                            <a class="text-gray hover:text-white transition underline decoration-orange text-base font-medium" href="mailto:{{ company_details:email_address }}">{{ company_details:email_address }}</a>
                        </div>
                    </div>
                {{ /if }}
            </div>
        </div>
    </div>
</section>
    