<section  class="bg-black py-12">
    <div class="container mx-auto px-4">
        {{ if values:heading }}
            <div class="font-manrope text-white text-3xl mb-10 font-bold text-center">{{ values:heading }}</div>
        {{ /if }}

        <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 mt-10">
            {{ values:values_replicator }}
                <div class="p-6 bg-white-opacity rounded-4xl border border-white-opacity">
                    <div class="flex items-center justify-center bg-white/50 rounded-xl w-12 h-12 border border-white-opacity">
                        {{ icon }}
                    </div>
                     <div class="text-white font-semibold mt-4 text-2xl">{{ heading }}</div>
                     <p class="text-gray mt-2">{{ content }}</p>
                </div>
            {{ /values:values_replicator }}
        </div>
    </div>
</section>